fastapi~=0.117.1
uvicorn
langchain~=0.3.27
langchain-community
langchain-google-genai~=2.1.7
PyMuPDF
pinecone-client~=6.0.0
python-dotenv~=1.1.1
python-multipart
langchain-pinecone
pinecone~=7.3.0
pydantic~=2.11.9
docx2txt
 chardet